<div class="nested-fields">
    <div class="card-body">
        <div class="form-group">
            <div class="form-group">
                <%= f.label "Tempo" %>
                <%= f.text_field :tempo, class: 'form-control' %>
            </div>
        </div>

        <%= link_to_remove_association icon('far', 'trash-alt'), f, class: 'btn btn-danger' %>
    </div>

    <hr class="m-0">
</div>